.App {
  background-color: lightgray;
  display: flex;
  flex-wrap: wrap;
  font-family: "Nanum Pen Script", cursive;
  justify-content: space-evenly;
  height: 100vh;
  min-height: 100vh;
}

h1 {
  font-size: 4rem;
}

p {
  font-size: 2rem;
}

.JokeFetcher {
  align-items: center;
  border: 1px solid #000;
  border-radius: 2rem;
  box-shadow: inset 0 0 10px #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem 0;
  padding: 2rem;
  position: relative;
  width: 400px;
}

.JokeFetcher--control {
  border: none;
  box-shadow: none;
}

.JokeFetcher-closer {
  cursor: pointer;
  font-size: 2rem;
  position: absolute;
  right: 20px;
  top: 10px;
}
